h1 {
  text-align: center;
  font-size: 4em;
}
body{
  font-family: Century, serif;
  background-color: #222222;
  color: white;
}
a {
  color: inherit;
  text-decoration: inherit;
}
p {
  padding-bottom: 1em;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  flex-shrink: 0;
}

.coin_image {
  width: auto;
  height: 17em;

}

.paragraph {
  font-size: 1.4em;

}

.gallery-coin {
  word-wrap: break-word;
  max-width: min-content;
  text-align: center;
  height: min-content;

}

.image-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 1.2em;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

.pagination {
  text-align: center;
  margin: 5em;
}

.gallery-coin:hover {
  -webkit-box-shadow:rgba(0,0,0,0.2) 0 5px 5px, inset rgba(0,0,0,0.15) 0 -1px 5px;
  -moz-box-shadow:rgba(0,0,0,0.2) 0 5px 5px, inset rgba(0,0,0,0.15) 0 -1px 5px;
  -o-box-shadow:rgba(0,0,0,0.2) 0 5px 5px, inset rgba(0,0,0,0.15) 0 -1px 5px;
  box-shadow:rgba(0,0,0,0.2) 0 5px 5px, inset rgba(0,0,0,0.15) 0 -1px 5px;
  cursor:pointer;
  border-radius: 15px;
  background-color: #2e2e2e;
}

.pagination{
  text-align: center;
}