body{
  background-color: #222222;
  color: white;
  text-align: center;
  font-family: Century, serif;
}

#map {
    height: 100%;
    width: 80%;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5em;
    height: 80vh;
    width: 100vw;
}